<div class="flex justify-content-between">
    <h2>Clientes</h2>
</div>
<p-table [paginator]='true' [rows]='5'[tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th><a href="javascript:void(0)" (click)="getClients()">EXCLUIR</a></th>
            <th>Name</th>
            <th>Description</th>
            <th>Ações</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>
                {{ product.name }}
            </td>
            <td>{{ product.description }}</td>
            <td>
            </td>
            
        </tr>
    </ng-template>
</p-table>