
<img style = "margin-bottom: 5vw;margin-left:1vw " src="https://atlantis.primeng.org/assets/layout/images/logo-light.png"
 width="60" height="33" viewBox="0 0 120 33" fill="none" >
<div>

<img style = "margin-right: 83vw; margin-top: -7vw;float:right" src="https://atlantis.primeng.org/assets/layout/images/appname-light.png"
width="120" height="33" viewBox="0 0 120 33" fill="none"/>
</div><br><br>


> 

   
 




<div class="conteiner">

   
    


    <div class="menu">

        <p-menu [model]="items">
        </p-menu>
        
        
   
</div>



<router-outlet></router-outlet>
 
