<div class="flex justify-content-between">
    <h2>Produtos</h2>
    <p-button label="Adicionar Produto" (click)="showAddModal()"></p-button>
</div>
<p-table [value]="products" [paginator]='true' [rows]='5'[tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            
            <th>Name</th>
            <th>Description</th>
            
            
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            
            
        </tr>
    </ng-template>
</p-table>
<app-add-edit-product [displayAddModal]="displayAddModal"></app-add-edit-product>
